h1, h2, h3, h4, h5, h6, p {
	font-family: "Helvetica";
	color: #fff;
}

html, body {
	height: 100%;
}

*{
	margin: 0;
}

/* navbar*/
.logo{
	position: fixed;
	left: 80px;
	height: 50px;
	margin-top: 50px;
	z-index: 9;
}
.navbar{
height: 50px;
	margin-top: 50px;
	z-index: 9;
	position: fixed;
	left: 50%;
    transform: translate(-50%, 0%);
}
.info{
	position: fixed;
	right: 80px;
	font-size: 32px;
	color: #fff;
	height: 50px;
	margin-top: 50px;
	z-index: 9;
	opacity: 1;
}
.info:hover{
	opacity: 0.8;
}
li{
	display: inline;
}
a{
	text-decoration: none;
	color: #fff;
}

a:hover{
	color: #fff;
}
a:focus{
	color: #fff;
}
ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 24px;
	padding: 60px;
}

ul li a:hover{
	text-decoration: underline;
	color: #fff;
}
/* sections*/
.home{
	background-color: rgba(0, 0, 0, 0.5);
}
.home h2{
	text-align: right;
}
.snake{
	background-color: rgba(68, 137, 26, 0.5);
}
.break-out{
	background-color: rgba(190, 38, 51, 0.5);
}
.space-invaders{
	background-color: rgba(0, 87, 132, 0.5);
}
.panel{
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	width:100vw;
	height:100vh;	
}
/* þil*/
.partition{
	width: 100vw;
	height: 100vw;
	z-index: 10;
}
.purple{
	background-color: #2F484E;
	height: 50%;	
}
.grey{
	background-color: #9D9D9D;;
	height: 50%;
}
/*leikir*/
.playbox{
	position: relative;
	border: 6px solid #fff;
	width: 512px;
	height: 502px;
	color: #fff;
}
.playbox .playbutton-name{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.playbutton{
	font-size: 144px;
	text-align: center;
	animation: playme 1.5s ease-in-out infinite;
}
@keyframes playme{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0.5;
	}
	100%{
		opacity: 1;
	}
}
.playbutton :hover{
	opacity: 1;
	cursor: hand;
}
.playbutton-name:hover{
	cursor: hand;
	cursor: pointer;
}
.game-name{
	font-family: 'Press Start 2P', cursive;
	font-size: 28px;
	text-align: center;
}

/*scroll down*/
.scroll-downs {
  position: absolute;
  right: 0;
  bottom: 15px;
  left: 0;
  margin: auto;
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 55px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  margin: auto;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

/*background canvas*/
body > canvas{
	position: fixed;
	top:0px;
	z-index: -1;
	background-color: #1B2632;
}
/*game canvas*/
.snake  canvas {
} 
.break-out  canvas {

} 

/*footer*/
footer{
	height: 100vh;
	width: 100vw;
	position: relative;
	background-color: #1B2632;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mitt-a-milli{
	padding: 40px;

	text-align: center;
}

.name{
	padding-top: 15px;
	font-weight: 700;
	text-align: center;
}
.circle-pic{
    height: 250px;
    width: 250px;
  	border-radius: 50%;
  	align-self: center;
  	overflow: hidden; 	
  	background-size: cover;
  	filter: grayscale(1);
}
.pic-disa{
	background-image: url(../assets/disa.png);
 	background-position: 0px -20px;
}
.pic-disa:hover{
	background-position: 0px 2450px;
	
}
.pic-gnusi{
	background-image: url(../assets/gnusi.png);
	background-position: 0px -20px;
}
.pic-gnusi:hover{
	background-position: 0px 2450px;
	
}

@media (max-width: 1300px) and (min-width: 220px){

	.game-name{
	font-size: 24px;
	}
	ul li a{
	padding: 25px;
}
}
